*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cube{
    height: 300px;
    width: 300px;
    position: relative;
    transform-style: preserve-3d;
    animation: cube 3s linear;
    animation-iteration-count: infinite;
}
@keyframes cube{
    from{
        transform: rotateX(0deg) rotateY(0deg);
    }
    to{
        transform: rotateX(360deg) rotateY(360deg);
    }
}
.box{
    height: 100%;
    width: 100%;
    position: absolute;
}
.top{
    background-color:rgba(129, 235, 200, 0.6);
    transform: rotateX(90deg) translateZ(150px); /* half of height and width of box and cube*/
}
.bottom{
    background-color: rgb(255, 235, 205, 0.6);
    transform: rotateX(-90deg) translateZ(150px);
}
.left{
    background-color: rgb(222, 184, 135,0.6);
    transform: rotateY(-90deg) translateZ(150px);
}
.right{

    background-color: rgba(96, 150, 152, 0.6);
    transform: rotateY(90deg) translateZ(150px);
}
.front{
    background-color: rgba(170, 88, 133, 0.6);
    transform: rotateX(0deg) translateZ(150px);
}
.back{
    background-color: rgba(170, 88, 170, 0.6);
    transform: rotateX(-180deg) translateZ(150px);
}